<% content_for :head do %>
    <%= stylesheet_link_tag 'tennis-map', media: 'all', 'data-turbolinks-track': 'reload'%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/jquery.mapael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/maps/world_countries.js"></script>
    <%= javascript_pack_tag 'home/application' %> 
<% end %>
<% content_for :topImage do %>
    <div class="top-image">
        <h1 class="app-title">
            ATP ツアーの試合状況をチェック
        </h1>
    </div>
<% end %>
<% if logged_in? %>
    <div>
        <div class="text-success text-center m-5">
            <h2>お気に入り選手の直近の試合</h2>
        </div>
        <%= render partial:"players/player", collection: @favorite_players %>
    </div>
<% end %>
<div class="row justify-content-center m-5">
    <div class="text-center col-12 col-md-8 col-lg-7">
        <%= render 'shared/name_search_form' %>
    </div>
</div>
<br>
<div class="text-success text-center m-5">
    <h2>地図で確認</h2>
</div>
<div id="now-tournament-info" class="text-center mb-5"></div>
<div class="map-container-GRAND-SLAM">
    <div class="text-success text-center m-5">
        <h2>GRAND SLAM</h2>
    </div>
    <div class="map"></div>
</div>
<div class="map-container-Masters-1000">
    <div class="text-success text-center m-5">
        <h2>Masters 1000</h2>
    </div>
    <div class="map"></div>
</div>
<div class="map-container-ATP-500">
    <div class="text-success text-center m-5">
        <h2>ATP 500</h2>
    </div>
    <div class="map"></div>
</div>
