<% content_for :head do %>
    <%= stylesheet_link_tag 'tennis-map', media: 'all', 'data-turbolinks-track': 'reload'%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/jquery.mapael.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery-mapael@2.2.0/js/jquery.mapael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/maps/world_countries.js"></script>
    <%= javascript_pack_tag 'home/application' %>
<% end %>
<div class="favorite text-body">
    <div class="text-success text-center head m-3">お気に入り選手の直近の試合</div>
    <ul>
      <%= render partial:"players/player", collection: @favorite_players%>
    </ul>
</div>
<div class="map_container text-body">
    <div class="text-success text-center head m-3">地図で確認</div>
    <div id="now_tournament_info" class="text-center lead text-body">
    </div>
    <br>
    <div class="map"></div>
</div>
