<% if tournament_year_and_player.remain_flag %>
    <span class="m-2 text-body"><%= tournament_year_and_player.player.name %> </span>
<% else %>
    <span class="m-1 lose" ><%= tournament_year_and_player.player.name %> </span>
<% end %>
