<% provide(:button_text, '登録') %>
<div class="text-success heading m-5 text-center">ユーザ登録</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <%= render 'form' %>
    </div>
</div>

