<div class="m-5 ">
    <div class="text-success m-3 text-center">
        <h2>試合一覧</h2>
    </div>
    <%= form_tag(path, method: "get", class:"g-3 text-center", remote: true) do %>
        <div class="form-group m-3 form-check-inline">
            <%= select_tag(param, options_for_select(data_array, selected_data), class: "form-select") %>
        </div>
        <% if local_assigns[:selected_tournament_year_id] %>
            <%= hidden_field_tag :selected_tournament_year_id, selected_tournament_year_id %>
        <% end %>
        <%= submit_tag(button_title, class: "btn btn-success m-3" )%>
    <% end %>
</div>
