<%= form_with(model: current_user.favorites.build, local: false, class: 'text-center') do |f| %>
    <div><%= hidden_field_tag :favorite_player_id, @player.id %></div>
    <%= f.submit "お気に入り登録", class: "btn btn-success mb-3 btn-lg" %>
<% end %>
