<%= form_with(model: current_user.favorites.build, local: true) do %>
    <div><%= hidden_field_tag :favorite_player_id, @player.id %></div>
    <%= submit_tag("お気に入り登録", class: "btn btn-success mb-3 btn-lg" )%>
<% end %>