<div class="text-success heading m-5  row justify-content-center">
    <div class="col-6 col-md-4 offset-md-4 text-center">
        <%= @player.name %>
    </div>
    <% if logged_in? %>
        <div class="col-4 col-md-4">
            <%= render 'favorite_form', player: @player%>
        </div>
    <% end %>
</div>
<div>
    <%= render 'shared/match_select_form', 
        path: player_path(@player), param: :tournament, 
        data_array: @tournament_years_array, 
        selected_data: @selected_tournament_year_id, 
        button_title: "選択大会の試合表示"
    %>
    <%= render 'shared/matches', matches: @selected_tournament_year_player_matches %>
</div>
