<div class="text-success text-center m-5">
    <h2 class="m-5"><%= @player.full_name %></h2>
</div>
<% if logged_in? %>
    <div class="text-success  m-5  row justify-content-center">
        <div class="col-10 col-md-4">
            <%= render 'favorite_form', player: @player%>
        </div>
    </div>
<% end %>
<% unless @tournament_years_array.size == 0 %>
    <div>
        <%= render 'shared/match_select_form', 
            path: player_matches_index_path, param: :tournament_year_and_player_id, 
            data_array: @tournament_year_and_players_collection, 
            value_key: :tournament_year_and_player_id,
            text_key: :tournament_name_and_year,
            selected_data: @selected_tournament_year_and_player, 
            button_title: "選択大会の試合表示"
        %>
        <div class="row justify-content-center">
            <div class="col-md-9 justify-content-between row" id="matches">
                <%= render @selected_tournament_year_player_matches %>
            </div>
        </div>
    </div>
<% else %>
<div class="text-success text-center m-5">
    <h2>この選手の試合のデータはありませんでした</h2>
</div>
<% end %>

