<div class="text-success text-center">
    <h2><%= @player.name %></h2>
</div>
<% if logged_in? %>
    <div class="text-success  m-5  row justify-content-center">
        <div class="col-10 col-md-4">
            <%= render 'favorite_form', player: @player%>
        </div>
    </div>
<% end %>
<div>
    <%= render 'shared/match_select_form', 
        path: player_matches_index_path, param: :tournament_year_and_player_id, 
        data_array: @tournament_years_array, 
        selected_data: @selected_tournament_year_and_player, 
        button_title: "選択大会の試合表示"
    %>
    <ul>
        <div class="row justify-content-center">
            <div class="mt-3 col-md-9 col-lg-8 justify-content-between row" id="matches">
                <%= render @selected_tournament_year_player_matches %>
            </div>
        </div>
    </ul>
</div>
