// @import "../node_modules/bootstrap/scss/bootstrap";
/* universal */
body {
    background-color:#f8f8f8;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    
    font-weight: normal!important;
    font-family: inherit;
    color: inherit;
}

/*
html {
    //font-size: 63%;
    font-size: 70%;
}
*/

li {
    list-style: none;
}

.lose {
    // font-size: 1.2rem;
    a:link {color: #EEEEEE!important; text-decoration: none!important};
    a:visited {color: #EEEEEE!important; text-decoration: none!important};
    a:hover {color: blue!important}
}

.win {
    // font-size: 1.2rem;
    a:link {color: black; text-decoration: none};
    a:visited {color: black; text-decoration: none};
    a:hover {color: blue}
}

.header-link {
    a:link {color: green;};
    a:visited {color: green;};
    
}

.tournament_year_link {
    a:link {color: black; text-decoration: none};
    a:visited {color: black; text-decoration: none};
    a:hover {color: blue}
}

.container_match::after {
    content:"";
    display:block;
    width: 30%;
}


.error_message {
    color: red;
}

.m-5 {
    margin : 5rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 3rem;
}
.m-auto {
    margin: auto;
}

.p-2 {
    padding: 2rem;
}

.justify-content-center {
    justify-content: center!important;
}

.justify-content-between {
    justify-content: space-between;
}

.aaaaaa {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tennis-content {
    position: relative;;
}

.top-image {
    width: 100%;
    min-height: 100vh;
    background: image-url('topimg.JPG');
    background-size: cover;
    background-position: center;
    position: relative;
}

.app-title {
    margin: 0;
    position: absolute;
    top: calc(40% - 0.5em);
    width: 100%;
    text-align: center;
    line-height: 1;
    font-size: 4rem;
    font-weight: 400;
    color: white;
}

header {
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 50px;
    height: 70px;
    position: fixed;
    
}
.app-logo {
    font-size: 2rem;
    margin-top: 5px!important;
    color: white;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    margin: 15px;
}

.height-adjust {
    height: 80px;
}
/*
.field_with_errors {
    input {
        @extend .is-invalid;
    }
}
*/

#now-tournament-info {
    font-size: 1.3rem;
}

.player-name {
    font-size: 1.2rem;
}