<div class="fixed-menu">
    <div class="fixed-menu-inner-list row ">
        <ul class="footer-link text-success col-12">
            <li>Top</li>
            <li>settings</li>
            <li>logout</li>
        </ul>
    </div>
</div>